:root {
    --bar-length: 50px;      
    --bar-thick: 6px;        
    --digit-width: 70px;     
    --gap: 5px;              
    --dot-size: 100px;       
    --text-size: 10px;       
    --clock-color: rgb(103, 171, 255);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock-box {
    display: flex;
    width: auto;
    border: 6px solid black;
    border-radius: 10px;
}

.clock-display {
    display: flex;
    padding: 10px;
    background-color: black;
}

.horizondalLine {
    border-top: var(--bar-thick) solid var(--clock-color);
    width: var(--bar-length);
    margin: 5px;
}

.leftVerticalLine {
    border-left: var(--bar-thick) solid var(--clock-color);
    height: var(--bar-length);
    margin: 5px;
    padding: 0;
}

.rightVerticalLine {
    border-right: var(--bar-thick) solid var(--clock-color);
    height: var(--bar-length);
    margin: 5px;
    padding: 0;
}

.doubleVerticalLine {
    border-left: var(--bar-thick) solid var(--clock-color);
    border-right: var(--bar-thick) solid var(--clock-color);
    height: var(--bar-length);
    margin: 5px;
    padding: 0;
}

.singleDigit {
    width: var(--digit-width)
}

.end {
    float: right;
}

.hidden {
    border-color: transparent; 
}

.dot {
    font-size: var(--dot-size);
    /* line-height: 100px; */
    /* margin-bottom: 20px; */
    color: var(--clock-color);
    height: auto;
}

.meridiem {
    font-size: var(--text-size);
    /* line-height: auto; */
    height: auto;
    /* margin-bottom: 20px; */
    color: var(--clock-color)
}

.dot-meridiem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* height: 70px; */
}


@media (max-width: 600px) {
    :root {
        --bar-length: 30px; 
        --bar-thick: 4px;   
        --digit-width: 45px;
        --gap: 3px;         
        --dot-size: 60px;
        --text-size: 8px;
    }
    
    .clock-display {
        padding: 5px;
    }
}